<!DOCTYPE html>
<html>


<head>
    <title>
        Advance Java Project
    </title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">

    <link rel="stylesheet" href="/app/css/styles.css">
</head>

<body ng-app="amazon">


<h1 align="center" id="header"> JAVA ADVANCE ASSIGNMENT</h1>


<nav-bar></nav-bar>



<script type="text/javascript" src="/node_modules/angular/angular.js"></script>
<script type="text/javascript" src="/node_modules/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="/node_modules/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="/node_modules/angular-material/angular-material.js"></script>


<script type="text/javascript" src="/app/scripts/amazon.js"></script>

<script type="text/javascript" src="/app/scripts/services/productService.js"></script>
<script type="text/javascript" src="/app/scripts/services/checkIdService.js"></script>

<script type="text/javascript" src="/app/scripts/controllers/navCtrl.js"></script>
<script type="text/javascript" src="/app/scripts/controllers/productCtrl.js"></script>
<script type="text/javascript" src="/app/scripts/controllers/productPutCtrl.js"></script>

<script type="text/javascript" src="/app/scripts/directives/navBar.js"></script>
<script type="text/javascript" src="/app/scripts/directives/productList.js"></script>
<script type="text/javascript" src="/app/scripts/directives/productUpdate.js"></script>
</body>

</html>